.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 170px 0 150px;
}

.not-found-dark-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 170px 0 61.7vh;
  background-color: #212429;
}

.not-found .img-404 {
  width: 500px;
  height: 250px;
}

@media screen and (max-width: 576px) {
  .not-found .img-404 {
    width: 275px;
    height: 125px;
  }
}

.content-404 {
  margin-top: 40px;
}

.not-found .content-404 .title-404 {
  font-size: 2.75em !important;
}

.not-found-dark-mode .content-404 .title-404-dark-mode {
  font-size: 2.75em !important;
  color: #fff;
}

.desc-404 {
  text-align: center;
  font-size: 1.25rem;
}

.not-found .content-404 .btn-404 {
  color: #fff !important;
  margin-top: 10px;
}

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {
  .img-not-found {
    position: relative;
    width: 80vw;
  }
  .not-found-title {
    font-size: 2.2em;
  }
}

.come-back-later {
  font-size: 1.25em;
}

// Spinner

.spinner {
  width: 65px;
  margin: auto;
  display: block;
  margin-top: 27.5vh;
}

.dark-mode-spinner {
  background-color: #212429;
  color: #fff;
  padding-bottom: 48.75vh;
}

@media screen and (max-width: 300px) {
  .dark-mode-spinner {
    padding-bottom: 52.75vh;
  }
}

.loading {
  margin: auto;
  display: block;
  width: 200px;
  text-align: left;
  margin-top: 25px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
