.Toastify {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.Toastify .Toastify__toast {
  padding: 0;
  padding-bottom: 2px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  border-radius: 8.5px !important;
}
.Toastify .Toastify__toast-container {
  width: 26.25rem;
  margin-top: 3rem;
  margin-right: 3rem;
  border-radius: 7px;
}
@media (max-width: 480px) {
  .Toastify .Toastify__toast-container {
    width: 22.25rem;
    margin-right: 0rem;
    margin-left: 1rem;
  }
}
.Toastify .body {
  background-color: #191b1f;
  border: none;
  color: white;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 1rem;
  border-radius: 8.5px;
}
.Toastify .body {
  background-color: #fff;
  border: none;
  color: #000;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 1rem;
  border-radius: 7px;
}
.Toastify .Toastify__toast {
  border: 1.5px solid rgb(5, 60, 143);
  box-sizing: border-box;
  box-shadow: 0px 0px 4px #06f, 0px 0px 10px #06f;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
  border-radius: 4px;
  border-top-left-radius: 0;
  background: linear-gradient(#0066ff, #1d1d3c);
  background: #0066ff;
  border-top-right-radius: 0;
  color: #fff;
}
.Toastify .Toastify__toast.error {
  border: 1.5px solid #af0e0e;
  background: linear-gradient(#e84142, #83051a);
  background: #e84142;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
}
.Toastify .Toastify__toast.success {
  border: 1.5px solid #1a6330;
  background: linear-gradient(#38d6b2, #1d1d3c);
  background: #2a8947;
  box-shadow: 0px 0px 4px #38d6b2, 0px 0px 10px rgba(112, 235, 183, 0.24);
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
}
.Toastify .Toastify__toast .Toastify__close-button {
  color: #fff;
  opacity: 1;
}
.Toastify .Toastify__toast h3 {
  font-size: 1.75rem;
  margin-left: 0.2rem;
}
.Toastify .Toastify__toast p {
  padding-bottom: 0;
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  font-weight: bold;
  margin-left: 0.4rem;
}
.Toastify .Toastify__toast button {
  align-self: flex-end;
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
  margin-top: 0.3rem;
  font-weight: bold;
}
.Toastify .Toastify__toast button:focus {
  outline: 0;
  box-shadow: 0 0 0 0 rgba(164, 64, 242, 0);
}
.Toastify .Toastify__toast img.toasty {
  width: 3.3rem;
  float: left;
  margin-right: 1rem;
  border-radius: 100%;
  background-color: #06f;
}
